Listen 8082
Listen 8092

<VirtualHost *:8082>
    ServerName backend.local
    DocumentRoot "{{ home_directory }}/projects/app/backend/app/public"
    DirectoryIndex index.html index.php
    <Directory "{{ home_directory }}/projects/app/backend/app/public">
        Require all granted
        AllowOverride all
    </Directory>
    <FilesMatch \.php$>
        SetHandler "proxy:fcgi://127.0.0.1:{{ php_fpm_port }}"
    </FilesMatch>
</VirtualHost>

<VirtualHost *:8092>
    ServerName frontend.local
    DocumentRoot "{{ home_directory }}/projects/app/frontend/app/public"
    <Directory "{{ home_directory }}/projects/app/frontend/app/public">
        Require all granted
        AllowOverride all
    </Directory>
</VirtualHost>
